@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.container {
  height: 200px;
  position: relative;
  /* border: 3px solid green; */
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bg-color {
  background-color: #9370DB;
}

/* button */





/* CSS */


/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;

  text-align: center;
  font-size: 2rem;
  font-family: 'Audiowide', cursive;
  text-decoration: none;
  color:royalblue;
}

.button-52:after {
  content: "";
  background-color: white;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

h3, p {
  /* font-family: 'The Girl Next Door', cursive; */
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  text-align: center;
}